<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>个人中心</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description"/>
    <meta content="Coderthemes" name="author"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta property="qc:admins" content="1403267155765154541656375"/>
    <meta property="wb:webmaster" content="fdcd9430a88b1552"/>
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <!-- App favicon -->
    <link rel="shortcut icon" href="/images/favicon.ico">

    <!-- Sweet Alert css -->
    <link href="../plugins/sweet-alert/sweetalert2.min.css" rel="stylesheet" type="text/css"/>

    <!-- App css -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/css/icons.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/css/metismenu.min.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/css/style.css" rel="stylesheet" type="text/css"/>

    <!-- 自定义CSS -->
    <link href="/css/database.css" rel="stylesheet" type="text/css"/>

    <script src="/assets/js/modernizr.min.js"></script>


    <script type="text/javascript" src="../js/vue.js"></script>
    <script type="text/javascript" src="../js/vue-cookies.js"></script>
    <script type="text/javascript" src="../js/axios.js"></script>
</head>


<body>

<!-- Begin page -->
<div id="wrapper">

    <!-- ========== Left Sidebar Start ========== -->
    <div class="left side-menu">

        <div class="slimscroll-menu" id="remove-scroll">

            <!-- LOGO -->
            <div class="topbar-left">
                <a href="#" class="logo">
                    <span>
                        <img src="/images/logo.png" alt="" width="80%">
                    </span>
                </a>
            </div>

            <!-- User box -->
            <div class="user-box">
                <div class="user-img">
                    <img src="/images/avatar.png" alt="user-img" title="Mat Helme"
                         class="rounded-circle img-fluid">
                </div>
                <h5><a href="#">{{nick_name}}</a></h5>
                <p class="text-muted">This is no body.</p>
                <button type="button" class="btn btn-light btn-rounded waves-effect" @click="logout">注销</button>
                </div>

            <!--- Side menu -->
            <div id="sidebar-menu">

                <ul class="metismenu" id="side-menu">

                    <li>
                        <a href="/html/user-create.html">
                            <i class="icon-plus"></i><span></span> <span> 新建 </span>
                        </a>
                    </li>

                    <li>
                        <a href="/html/user-center.html">
                            <i class="fi-layers"></i> <span> 个人中心 </span>
                        </a>
                    </li>

                    <li class="active">
                        <a href="javascript: void(0);" class="active" aria-expanded="true">
                            <i class="mdi mdi-database"></i><span> {{database}} </span> <span class="menu-arrow"></span>
                        </a>
                        <ul class="nav-second-level" aria-expanded="false" style="max-height: 300px; overflow-y: scroll;">
                            <li v-for="tb in tables" ><a @click="fetch_data(tb)">{{tb}}</a></li>
                        </ul>
                    </li>

                </ul>

            </div>
            <!-- Sidebar -->

            <div class="clearfix"></div>

        </div>
        <!-- Sidebar -left -->

    </div>
    <!-- Left Sidebar End -->


    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->

    <div class="content-page">

        <!-- Top Bar Start -->
        <div class="topbar">

            <nav class="navbar-custom">

                <ul class="list-unstyled topbar-right-menu float-right mb-0">

                    <li class="hide-phone app-search"></li>

                </ul>

                <ul class="list-inline menu-left mb-0">
                    <li class="float-left">
                        <button class="button-menu-mobile open-left disable-btn">
                            <i class="dripicons-menu"></i>
                        </button>
                    </li>
                    <li>
                        <div class="page-title-box">
                            <h4 class="page-title">个人中心 </h4>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/html/user-center.html">个人中心</a></li>
                                <li class="breadcrumb-item active">总览</li>
                            </ol>
                        </div>
                    </li>

                </ul>

            </nav>

        </div>
        <!-- Top Bar End -->

        <!-- Start Page content -->
        <div class="content">
            <div class="container-fluid">
                <!-- 命令输入运行栏 -->
                <div id="command-input" hidden class="row m-0 p-2" style="background: #FFFFFF;">
                    <div class="col-8">
                        <form class="row">
                            <textarea v-model="command" name="command" cols="50" rows="5" class="col-6"></textarea>
                            <input type="button" @click="run_command" value="RUN" class="col-1"/>
                        </form>
                        <!-- SQL快捷操作 -->
                        <div class="row mt-3">
                            <span class="mr-2 btn btn-light waves-effect" @click="append_command('SELECT * FROM ' + table)">SELECT *</span>
                            <span class="mr-2 btn btn-light waves-effect" @click="append_command('SELECT')">SELECT</span>
                            <span class="mr-2 btn btn-light waves-effect" @click="append_command('INSERT')">INSERT</span>
                            <span class="mr-2 btn btn-light waves-effect" @click="append_command('DELETE')">DELETE</span>
                            <span class="mr-2 btn btn-light waves-effect" @click="append_command('UPDATE')">UPDATE</span>
                            <span class="mr-2 btn btn-light waves-effect" @click="reset_command">清除</span>
                        </div>
                    </div>
                    <!-- 字段展示列 -->
                    <div class="col-4" style="max-height: 200px;">
                        <p style="font-size: 110%;font-weight: bold;border-bottom: 1px solid;">字段</p>
                        <div class="fields-container">
                            <p v-for="field in columns" @click="append_command(' `'+field.title+'`,')">{{field.title}}</p>
                        </div>
                    </div>
                </div>
                <!-- 顶部快捷按钮栏 -->
                <div class="row" style="padding: 0 15px;">
                    <button type="button" class="m-2 btn btn-light btn-rounded waves-effect" @click="view_structure">结构</button>
                    <button type="button" class="m-2 btn btn-light btn-rounded waves-effect" @click="toggle_command_input">SQL</button>
                    <button type="button" class="m-2 btn btn-light btn-rounded waves-effect" @click="insert_data">插入</button>
                </div>

                <!-- 用表格的形式展示数据 -->
                <div class="row">
                    <div class="col-12">
                        <div class="card-box table-responsive">
                            <h4 class="m-t-0">{{database}}.{{table}}</h4>

                            <div>
                                每页展示
                                <select style="margin: 15px;" v-model=selectId @change="splitPage">
                                    <Option v-for="val,idx in pages" :value=idx :key="idx">{{val}}</Option>
                                </select>
                                条数据
                            </div>
                            <v-table :data="data" :columns="columns" :page="page" :pageid="pageIdx-1" class="table table-bordered table-striped"></v-table>
                            <div class="row">
                                <div class="col-sm-12 col-md-5"></div>
                                <div class="row col-sm-12 col-md-7">
                                    <button type="button" class="btn btn-outline-dark waves-light waves-effect mr-4"  @click="pageChange(-1)">上一页</button>
                                    <div style="margin-right: -10%;"><input type="number" v-model="pageIdx" class="col-md-4" @change="pageChange(0)">&nbsp;/&nbsp;<span>{{totalPages}}</span></div>
                                    <button type="button" class="btn btn-outline-dark waves-light waves-effect"  @click="pageChange(1)">下一页</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- end row -->

            </div>
        </div>
    </div>

    <!-- ============================================================== -->
    <!-- End Right content here -->
    <!-- ============================================================== -->

    <!-- END wrapper -->
</div>

<!-- 提示框 -->
<div class="swal2-container swal2-fade swal2-shown" style="overflow-y: auto;" id="sweet-alert-container" hidden="true">
    <div role="dialog" aria-labelledby="swal2-title" aria-describedby="swal2-content" class="swal2-modal swal2-show" tabindex="-1" style="width: 500px; padding: 20px; background: rgb(255, 255, 255); display: block; min-height: 312px;">
        <div class="swal2-icon swal2-error" style="display: none;"><span class="swal2-x-mark"><span class="swal2-x-mark-line-left"></span><span class="swal2-x-mark-line-right"></span></span></div>
        <div class="swal2-icon swal2-warning" style="display: block;">!</div>
        <div class="swal2-icon swal2-success" style="display: none;">
            <div class="swal2-success-circular-line-left" style="background: rgb(255, 255, 255);"></div>
            <span class="swal2-success-line-tip"></span> <span class="swal2-success-line-long"></span>
            <div class="swal2-success-ring"></div>
            <div class="swal2-success-fix" style="background: rgb(255, 255, 255);"></div>
            <div class="swal2-success-circular-line-right" style="background: rgb(255, 255, 255);"></div>
        </div>
        <img class="swal2-image" style="display: none;">
        <h2 class="swal2-title" id="swal2-title">确定删除吗?</h2>
        <div id="swal2-content" class="swal2-content" style="display: block;">注意：该操作不可逆!</div>
        <div class="swal2-buttonswrapper" style="display: block;">
            <button onclick="confirmDelete()" type="button" class="swal2-confirm btn btn-confirm mt-2 swal2-styled" aria-label="" style="background-color: rgb(48, 133, 214); border-left-color: rgb(48, 133, 214); border-right-color: rgb(48, 133, 214);">
                确定
            </button>
            <button onclick="cancelDelete()" type="button" class="swal2-cancel btn btn-cancel ml-2 mt-2 swal2-styled" aria-label="" style="display: inline-block; background-color: rgb(170, 170, 170);">取消
            </button>
        </div>

    </div>
</div>
<!-- 提示框 -->

<!-- jQuery  -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/metisMenu.min.js"></script>
<script src="/assets/js/waves.js"></script>
<script src="/assets/js/jquery.slimscroll.js"></script>

<!-- App js -->
<script src="/assets/js/jquery.core.js"></script>
<script src="/assets/js/jquery.app.js"></script>

<!-- v-table -->
<script src="../js/vTable.js"></script>

<script src="/js/database.js"></script>
</body>
</html>