<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>个人中心</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta property="qc:admins" content="1403267155765154541656375" />
        <meta property="wb:webmaster" content="fdcd9430a88b1552" />
        <meta http-equiv="Access-Control-Allow-Origin" content="*">
        <!-- App favicon -->
        <link rel="shortcut icon" href="/images/favicon.ico">

        <!-- App css -->s
        <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="/assets/css/icons.css" rel="stylesheet" type="text/css" />
        <link href="/assets/css/metismenu.min.css" rel="stylesheet" type="text/css" />
        <link href="/assets/css/style.css" rel="stylesheet" type="text/css" />

        <script src="/assets/js/modernizr.min.js"></script>

        <script type="text/javascript" src="../js/vue.js"></script>
        <script type="text/javascript" src="../js/vue-cookies.js"></script>
        <script type="text/javascript" src="../js/axios.js"></script>
    </head>


    <body>

        <!-- Begin page -->
        <div id="wrapper">

            <!-- ========== Left Sidebar Start ========== -->
            <div class="left side-menu">

                <div class="slimscroll-menu" id="remove-scroll">

                    <!-- LOGO -->
                    <div class="topbar-left">
                        <a href="/html/user-center.html" class="logo">
                            <span>
                                <img src="/images/logo.png" alt="" width="80%">
                            </span>
                        </a>
                    </div>

                    <!-- User box -->
                    <div class="user-box">
                        <div class="user-img">
                            <img src="/assets/images/users/avatar-1.jpg" alt="user-img" title="Mat Helme" class="rounded-circle img-fluid">
                        </div>
                        <h5><a href="#">{{nick_name}}</a> </h5>
                        <p class="text-muted">This is no body.</p>
                    </div>

                    <!--- Sidemenu -->
                    <div id="sidebar-menu">

                        <ul class="metismenu" id="side-menu">

                            <!--<li class="menu-title">Navigation</li>-->

                            <li>
                                <a href="#" data-toggle="tab" class="nav-link active">
                                    <i class="icon-plus"></i><span></span> <span> 新建 </span>
                                </a>
                            </li>

                            <li>
                                <a href="/html/user-center.html">
                                    <i class="fi-layers"></i> <span> 个人中心 </span> <span class="menu-arrow"></span>
                                </a>
                            </li>
                        </ul>

                    </div>
                    <!-- Sidebar -->

                    <div class="clearfix"></div>

                </div>
                <!-- Sidebar -left -->

            </div>
            <!-- Left Sidebar End -->



            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->

            <div class="content-page">

                <!-- Top Bar Start -->
                <div class="topbar">

                    <nav class="navbar-custom">

                        <ul class="list-unstyled topbar-right-menu float-right mb-0">

                            <li class="hide-phone app-search"></li>

                        </ul>

                        <ul class="list-inline menu-left mb-0">
                            <li class="float-left">
                                <button class="button-menu-mobile open-left disable-btn">
                                    <i class="dripicons-menu"></i>
                                </button>
                            </li>
                            <li>
                                <div class="page-title-box">
                                    <h4 class="page-title">个人中心 </h4>
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/html/user-center.html">个人中心</a></li>
                                        <li class="breadcrumb-item active">新建数据库</li>
                                    </ol>
                                </div>
                            </li>

                        </ul>

                    </nav>

                </div>
                <!-- Top Bar End -->


                <!-- Start Page content -->
                <div class="content">
                    <div class="container-fluid">

                        <div class="row">
                            <div class="col-12">
                                <div class="card-box">
                                    <h4 class="m-t-0 header-title">Input Types</h4>

                                    <div class="row">
                                        <div class="col-12">
                                            <div class="p-20">
                                                <form class="form-horizontal" role="form">

                                                    <div class="form-group row">
                                                        <label class="col-2 col-form-label">数据库类型</label>
                                                        <div class="col-10">
                                                            <select v-model="db_type" class="form-control">
                                                                <option v-for="item in db_types">{{item}}</option>
                                                            </select>
                                                            <span class="help-block text-muted"><small>默认数据库类型为MYSQL.</small></span>
                                                        </div>
                                                    </div>

                                                    <div class="form-group row">
                                                        <label class="col-2 col-form-label">主机地址：</label>
                                                        <div class="col-8">
                                                            <input v-model="host" type="text" class="form-control">
                                                        </div>
                                                        <div class="col-2">
                                                            <input v-model="port" type="text" class="form-control" placeholder="端口号">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-2 col-form-label" for="example-email">用户名：</label>
                                                        <div class="col-10">
                                                            <input v-model="user" type="email" id="example-email" name="example-email" class="form-control" placeholder="数据库用户">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-2 col-form-label">密码：</label>
                                                        <div class="col-10">
                                                            <input v-model="password" type="password" class="form-control" placeholder="登录密码">
                                                        </div>
                                                    </div>

                                                    <div class="form-group row">
                                                        <label class="col-2 col-form-label">数据库名：</label>
                                                        <div class="col-10">
                                                            <input v-model="database" type="text" class="form-control" placeholder="如mysql">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-2 col-form-label">备注：</label>
                                                        <div class="col-10">
                                                            <textarea v-model="note" class="form-control" rows="5"></textarea>
                                                        </div>
                                                    </div>

                                                    <div class="form-group row">
                                                        <div class="col-4"></div>
                                                        <div class="col-4">
                                                            <button type="button" class="btn btn-block btn-xs btn-success waves-effect waves-light" @click="submit">提交</button>
                                                        </div>
                                                        <div class="col-4"></div>
                                                    </div>

                                                </form>
                                            </div>
                                        </div>

                                    </div>
                                    <!-- end row -->

                                </div> <!-- end card-box -->
                            </div><!-- end col -->
                        </div>
                        <!-- end row -->
                    </div>
                </div>
        </div>

            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->

        <!-- END wrapper -->
        </div>


        <!-- jQuery  -->
        <script src="/assets/js/jquery.min.js"></script>
        <script src="/assets/js/popper.min.js"></script>
        <script src="/assets/js/bootstrap.min.js"></script>
        <script src="/assets/js/metisMenu.min.js"></script>
        <script src="/assets/js/waves.js"></script>
        <script src="/assets/js/jquery.slimscroll.js"></script>

        <!-- App js -->
        <script src="/assets/js/jquery.core.js"></script>
        <script src="/assets/js/jquery.app.js"></script>

        <script>
            axios.defaults.baseURL = 'http://127.0.0.1:8888/';
            vm = new Vue({
                el:"#wrapper",
                data:{
                    nick_name:'Nobody',
                    host:'',
                    port: 3306,
                    user:'',
                    password:'',
                    database: '',
                    note: '',
                    db_type: 'MYSQL',
                    db_types: ['MYSQL', 'MongoDB'],
                    invalidate_host: false,
                    invalidate_user: false,
                },
                methods: {
                    checkHost: function () {
                        if (this.host.length == 0){
                            this.invalidate_host = true;
                        }else this.invalidate_host = false;
                    },
                    submit: function () {
                        console.log('trying to submit')
                        let data = {
                            host: this.host,
                            port: this.port,
                            user: this.user,
                            password: this.password,
                            database: this.database,
                            note: this.note,
                            db_type: this.db_type,
                        };
                        let tsessionid = this.$cookies.get('tsessionid');
                        if (tsessionid){
                            axios.post('/DBRecord/',data, {
                                headers: {tsessionid: tsessionid}
                            }).then((res)=>{
                                console.log(res.data);
                                if (res.status === 200){
                                    alert("创建成功。");
                                    location.href = "/html/user-center.html";
                                }
                            }).catch(function (err) {
                                console.log(err);
                                let err_msg = err.response.data['err_msg'];
                                if (err_msg) alert(err_msg);
                            })
                        }
                        else{
                            location.href = "../login.html"
                        }
                    }
                }
            })
        </script>
    </body>
</html>