<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>个人中心</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description"/>
    <meta content="Coderthemes" name="author"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta property="qc:admins" content="1403267155765154541656375"/>
    <meta property="wb:webmaster" content="fdcd9430a88b1552"/>
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <!-- App favicon -->
    <link rel="shortcut icon" href="/images/favicon.ico">

    <!-- Sweet Alert css -->
    <link href="../plugins/sweet-alert/sweetalert2.min.css" rel="stylesheet" type="text/css"/>

    <!-- App css -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/css/icons.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/css/metismenu.min.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/css/style.css" rel="stylesheet" type="text/css"/>

    <script src="/assets/js/modernizr.min.js"></script>


    <script type="text/javascript" src="../js/vue.js"></script>
    <script type="text/javascript" src="../js/vue-cookies.js"></script>
    <script type="text/javascript" src="../js/axios.js"></script>
</head>


<body>

<!-- Begin page -->
<div id="wrapper">

    <!-- ========== Left Sidebar Start ========== -->
    <div class="left side-menu">

        <div class="slimscroll-menu" id="remove-scroll">

            <!-- LOGO -->
            <div class="topbar-left">
                <a href="#" class="logo">
                            <span>
                                <img src="/images/logo.png" alt="" width="80%">
                            </span>
                </a>
            </div>

            <!-- User box -->
            <div class="user-box">
                <div class="user-img">
                    <img src="/assets/images/users/avatar-1.jpg" alt="user-img" title="Mat Helme"
                         class="rounded-circle img-fluid">
                </div>
                <h5><a href="#">{{nick_name}}</a></h5>
                <p class="text-muted">This is no body.</p>
            </div>

            <!--- Sidemenu -->
            <div id="sidebar-menu">

                <ul class="metismenu" id="side-menu">

                    <!--<li class="menu-title">Navigation</li>-->

                    <li>
                        <a href="/html/user-create.html">
                            <i class="icon-plus"></i><span></span> <span> 新建 </span>
                        </a>
                    </li>

                    <li>
                        <a href="/html/user-center.html" data-toggle="tab" aria-expanded="true" class="nav-link active">
                            <i class="fi-layers"></i> <span> 个人中心 </span> <span class="menu-arrow"></span>
                        </a>
                    </li>
                </ul>

            </div>
            <!-- Sidebar -->

            <div class="clearfix"></div>

        </div>
        <!-- Sidebar -left -->

    </div>
    <!-- Left Sidebar End -->

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->

    <div class="content-page">

        <!-- Top Bar Start -->
        <div class="topbar">

            <nav class="navbar-custom">

                <ul class="list-unstyled topbar-right-menu float-right mb-0">

                    <li class="hide-phone app-search"></li>

                </ul>

                <ul class="list-inline menu-left mb-0">
                    <li class="float-left">
                        <button class="button-menu-mobile open-left disable-btn">
                            <i class="dripicons-menu"></i>
                        </button>
                    </li>
                    <li>
                        <div class="page-title-box">
                            <h4 class="page-title">个人中心 </h4>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/html/user-center.html">个人中心</a></li>
                                <li class="breadcrumb-item active">总览</li>
                            </ol>
                        </div>
                    </li>

                </ul>

            </nav>

        </div>
        <!-- Top Bar End -->


        <!-- Start Page content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 col-lg-3" v-for="record in recordDatas">

                        <div class="card m-b-30">
                            <div class="card-body">
                                <h5 class="card-title">{{record.database}}</h5>
                                <p class="card-text">创建日期：{{record.add_time}}</p>
                                <p class="card-text" v-if="record.note">备注：{{record.note}}</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">主机地址：{{record.host}}:{{record.port}}</li>
                                <li class="list-group-item">类型：{{record.db_type}}</li>
                            </ul>
                            <div class="card-body">
                                <a href="#" class="card-link text-custom" @click="connectDB(record.id, record.database)">连接</a>
                                <button class="card-link text-custom" @click="showConfirm(record.id)">删除</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ============================================================== -->
    <!-- End Right content here -->
    <!-- ============================================================== -->

    <!-- END wrapper -->
</div>

<div class="swal2-container swal2-fade swal2-shown" style="overflow-y: auto;" id="sweet-alert-container" hidden="true">
    <div role="dialog" aria-labelledby="swal2-title" aria-describedby="swal2-content" class="swal2-modal swal2-show" tabindex="-1" style="width: 500px; padding: 20px; background: rgb(255, 255, 255); display: block; min-height: 312px;">
        <div class="swal2-icon swal2-error" style="display: none;"><span class="swal2-x-mark"><span class="swal2-x-mark-line-left"></span><span class="swal2-x-mark-line-right"></span></span></div>
        <div class="swal2-icon swal2-warning" style="display: block;">!</div>
        <div class="swal2-icon swal2-success" style="display: none;">
            <div class="swal2-success-circular-line-left" style="background: rgb(255, 255, 255);"></div>
            <span class="swal2-success-line-tip"></span> <span class="swal2-success-line-long"></span>
            <div class="swal2-success-ring"></div>
            <div class="swal2-success-fix" style="background: rgb(255, 255, 255);"></div>
            <div class="swal2-success-circular-line-right" style="background: rgb(255, 255, 255);"></div>
        </div>
        <img class="swal2-image" style="display: none;">
        <h2 class="swal2-title" id="swal2-title">确定删除吗?</h2>
        <div id="swal2-content" class="swal2-content" style="display: block;">注意：该操作不可逆!</div>
        <div class="swal2-buttonswrapper" style="display: block;">
            <button onclick="confirmDelete()" type="button" class="swal2-confirm btn btn-confirm mt-2 swal2-styled" aria-label="" style="background-color: rgb(48, 133, 214); border-left-color: rgb(48, 133, 214); border-right-color: rgb(48, 133, 214);">
                确定
            </button>
            <button onclick="cancelDelete()" type="button" class="swal2-cancel btn btn-cancel ml-2 mt-2 swal2-styled" aria-label="" style="display: inline-block; background-color: rgb(170, 170, 170);">取消
            </button>
        </div>

    </div>
</div>

<!-- jQuery  -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/metisMenu.min.js"></script>
<script src="/assets/js/waves.js"></script>
<script src="/assets/js/jquery.slimscroll.js"></script>

<!-- App js -->
<script src="/assets/js/jquery.core.js"></script>
<script src="/assets/js/jquery.app.js"></script>

<script>
    axios.defaults.baseURL = 'http://127.0.0.1:8888/';
    vm = new Vue({
        el: "#wrapper",
        data: {
            nick_name: 'Nobody',
            recordDatas: [],
            del_id: null
        },
        created() {
            this.fetchRecord()
        },
        methods: {
            delRecord: function (record_id=this.del_id) {
                if(this.del_id){
                    console.log("deleting : ", record_id)
                    let tsessionid = this.$cookies.get('tsessionid');
                    axios.get("/DelRecord/" + record_id, {
                        headers: {
                            tsessionid: tsessionid
                        }
                    }).then(res => {
                        console.log(res.data);
                        if (res.status == 200){
                            this.hideConfirm();
                            alert("删除成功")
                        }else{
                            alert("删除出错")
                        }
                        this.fetchRecord();
                    }).catch(err => {
                        console.log(err);
                    })
                }

            },
            fetchRecord: function () {
                let tsessionid = this.$cookies.get('tsessionid');
                if (tsessionid) {
                    axios.get("/DBRecord/", {
                        headers: {
                            tsessionid: tsessionid
                        }
                    }).then(res => {
                        this.recordDatas = res.data;
                    }).catch(err => {
                        console.log(err);
                    })
                } else {
                    console.log("没有tsessionid")
                }
            },
            showConfirm: function (record_id) {
                $("#sweet-alert-container")[0].hidden=false;
                this.del_id = record_id;
            },
            hideConfirm: function () {
                $("#sweet-alert-container")[0].hidden=true;
                this.del_id = null;
            },
            connectDB: function (record_id, database) {
                // console.log("record id is : ", record_id);
                params = {record_id: record_id, database: database};
                params = window.btoa(JSON.stringify(params));
                window.location.href = "/html/database.html?_="+params;
            }
        }
    });

    function confirmDelete(){
        vm.delRecord();
    }

    function cancelDelete() {
        vm.hideConfirm();
    }
</script>
</body>
</html>